body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

body {
  background: #f1f1f1;
  color: #333333;
  font-family: "open_sansregular", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 87%;
  line-height: 20px;
  background: #ffffff;
}

#header {
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    #19882c 1%,
    #025310 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(1%, #19882c),
    color-stop(100%, #025310)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    #19882c 1%,
    #025310 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    #19882c 1%,
    #025310 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    #19882c 1%,
    #025310 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    #19882c 1%,
    #025310 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=darken(#19882C, 3), endColorstr=#025310, GradientType=1);
  color: #ffffff;
  display: block;
  position: relative;
}

.transparent {
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

#header #accessibility {
  font-family: Arial, Helvetica, sans-serif !important;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: 140px;
}

#header #accessibility li {
  line-height: 5px;
  margin: 0 10px 0 0;
  display: block;
  float: left;
}

#header #accessibility a {
  color: #dcffe3;
  font-size: 0.7em;
  text-decoration: none;
}

#header #accessibility a span {
  background-color: #cad2cc;
  color: #195128;
  padding: 0 2px 0 3px;
}

#header #accessibility a:active {
  background: yellow;
  color: #000;
}

#header #accessibility a:hover {
  background: #788b7d;
}

#header .row-fluid {
  width: 100%;
}

.row-fluid [class*="span"] {
  min-height: 30px !important;
}

#header #logo {
  padding: 15px 0;
}

#header #logo .portal-title-1 {
  color: #ffffff;
  display: block;
  font-size: 0.85em;
  height: 21px;
}

#header #logo a {
  text-decoration: none;
}

#header #logo h1 {
  color: #ffffff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: -0.07em;
  line-height: 1.3em;
  margin-bottom: 5px;
}

.container:before,
.container:after {
  content: "";
  display: table;
  line-height: 0;
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  content: "";
  display: table;
  line-height: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 930px;
}

#navigation {
  visibility: hidden;
  position: absolute;
}

#lista_bandeiras ul {
  display: block;
  position: absolute;
  left: 50%;
  margin: 40px 0 0 -400px;
  width: 805px;
}

#lista_bandeiras ul.rounded img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#lista_bandeiras ul.rounded span {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#lista_bandeiras ul li {
  display: block;
  margin: 19px 0 0 19px;
  float: left;
  position: relative;
}

#lista_bandeiras ul li.posicao_centro {
  left: 25%;
  margin-left: 19px;
}

#lista_bandeiras ul li a span {
  display: block;
  height: 26px;
  padding-top: 3px;
  position: absolute;
  bottom: 7px;
  left: 10px;
  background: transparent;
  color: #fff;
  font-size: 0.78em;
  font-weight: bold;
}

#lista_bandeiras h4 {
  padding-top: 50px;
  text-align: center;
}
