<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Listar Requerimentos{% endblock %}

{% block content %}

{% if requerimentos %}
<ul>
    {% for requerimento in requerimentos %}
        {% if novos %}
            <li><a href="/requerimento/{{ requerimento.pk }}/responder/">{{ requerimento.tipo }} do curso {{ requerimento.curso }} </a></li>
        {% elif historico %}
        <li><a href="/requerimento/{{ requerimento.pk }}/editar/">{{ requerimento.tipo }} do curso {{ requerimento.curso }} </a></li>
        {% endif %}
    {% endfor %}
<ul>
{% endif %}



{% endblock %}