<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Listar Requerimentos{% endblock %}

{% block content %}

{% if despachos %}
<ul>
    {% for despacho in despachos %}
        {% if novos %}
            <li><a href="/requerimento/{{ despacho.requerimento.pk }}/responder/">{{ despacho.requerimento.tipo }} do curso {{ despacho.requerimento.curso }} </a></li>
        {% elif historico %}
        <li><a href="/requerimento/{{ despacho.requerimento.pk }}/editar/">{{ despacho.requerimento.tipo }} do curso {{ despacho.requerimento.curso }} </a></li>
        {% endif %}
    {% endfor %}
<ul>
{% endif %}



{% endblock %}